<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Tokio Marine iBig App</title>
  </head>
  <body>
    <h1>TM iBig App</h1>
    <p>
      This is the home page. 
    </p>
  </body>
</html>